
#noi-dung-bai img {
  max-width: 100%;
  height: auto;
}

#noi-dung-bai iframe,
#noi-dung-bai object,
#noi-dung-bai embed {
  max-width: 100% !important;
  height: auto !important;
  aspect-ratio: 16 / 9;
}
.bai-card-title {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}