.class-action-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.newsletter-add-btn {
  position: absolute;
  bottom: 20px;
  right: 30px;
  padding: 12px 17px;
  z-index: 1001;
}

.news-content img {
  max-width: 100%;
  height: auto;
}

.news-content iframe,
.news-content object,
.news-content embed {
  max-width: 100% !important;
  height: auto !important;
  aspect-ratio: 16 / 9;
}

.news-action-btn {
  position: absolute;
  top: 6px;
  right: 6px;
}

.child-news-action-btn {
  position: absolute;
  top: 6px;
  right: 6px;
}

.toggle-comments {
  cursor: pointer;
}

.news-item .comments {
  max-height: 400px;
  overflow-y: auto;
}

.img-remove-btn {
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: red;
  color: white;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  line-height: 20px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.2s ease-in-out;
  z-index: 10;
}

.img-remove-btn:hover {
  opacity: 1;
}