.login-overlay {
  position: relative;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-overlay::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--bg-auth) no-repeat center;
  background-size: cover;
  filter: blur(4px);
  z-index: -1;
}

#login-wp {
  width: 400px;
  padding: 20px;
  border-radius: 10px;
}